{% extends "base2.html" %}

{% block content %}

<!-- NASTAVENÍ PARAMETRŮ JEDNOTLIVÝCH VÝSTUPNÍCH KANÁLŮ -->
<h2 style="padding-top: 15px;">Nastavení alarmu odesílaného na e-mail</h2>

<p>Na email bude odesláno upozornění, pokud budou překročeny nastavené meze pro jednotlivé senzory</p>


&nbsp;<br>
<form method="POST" action="{{ url_for('index') }}">
    <input name="IDform" type="hidden" value="alert">
    <h3>Senzor 1</h3>        
    <p> Horní mez teploty:  <input name="1tempTop" type="text" value="{{ alert.sens1TempTop /10 }}" size="3"> °C</p>
    <p> Dolní mez teploty:  <input name="1tempBot" type="text" value="{{ alert.sens1TempBot /10 }}" size="3"> °C</p>
    <p> Horní mez vlhkosti: <input name="1humiTop" type="text" value="{{ alert.sens1HumiTop /10 }}" size="3"> %</p>
    <p> Dolní mez vlhkosti: <input name="1humiBot" type="text" value="{{ alert.sens1HumiBot /10 }}" size="3"> %</p>
    &nbsp;<br />
    <h3>Senzor 2</h3>
    <p> Horní mez teploty:  <input name="2tempTop" type="text" value="{{ alert.sens2TempTop /10 }}" size="3"> °C</p>
    <p> Dolní mez teploty:  <input name="2tempBot" type="text" value="{{ alert.sens2TempBot /10 }}" size="3"> °C</p>
    <p> Horní mez vlhkosti: <input name="2humiTop" type="text" value="{{ alert.sens2HumiTop /10 }}" size="3"> %</p>
    <p> Dolní mez vlhkosti: <input name="2humiBot" type="text" value="{{ alert.sens2HumiBot /10 }}" size="3"> %</p>
    &nbsp;<br />
    &nbsp;<br />
    <input type="submit" value="OK" style="float:left;">&nbsp;
    <button type="button" onclick="history.go(-1)">Cancel</button>


</form>




{% endblock %}

