<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs" xml:lang="cs">
<head>
    <title>AntiqueCZ Terrarium Control Web Server</title>
    <meta http-equiv=”Content-Type” content=”text/html; charset=utf-8”> 
    <meta http-equiv=”Cache-control” content=”no-cache”> 
    <meta http-equiv=”Pragma” content=”no-cache”> 
    <meta http-equiv=”Expires” content=”0”> 
    <meta http-equiv="refresh" content="15"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='terr.css') }}" type="text/css" />
    <link rel="icon" href="{{ url_for('static', filename='thermometer.ico') }}" type="image/x-icon">
</head>
<body class="main">
  <div id="zahlavi"><a href="{{ url_for('index')}}">Antique Terrarium Control Web Server</a></div>

  {% block content %}
      Error Load Content ... 
  {% endblock %}
  
  <!-- ZÁPATÍ STRÁNKY  -->
  <div id="zapati">© 2020 AntiqueCZ, e-mail: AntiqueCZ@gmail.com</div>

</body>
</html>