{% extends "base2.html" %}

{% block content %}

<!-- BYPASS -->
<h3>Aktivace režimu BYPASS pro {{chann.name}}</h3>
&nbsp;<br>

{% if prusa %}
<p>V režimu Průša 3D Printer Box nemá Bypass režim smysl.</p>

{% else %}
<form method="POST" action="{{ url_for('index')}}">
    <input name="IDform" type="hidden" value="bypass">
    <input name="bps_time" type="text" value="00:30" maxlength="5" size="2">
    &nbsp;&nbsp;hod.&nbsp;&nbsp;- čas, jak dlouho bude kanál sepnut<br />
    &nbsp;<br />
    <b>-1</b>&nbsp;&nbsp;&nbsp; je pro trvalé sepnutí (manuální ovládání / režim)<br />
    <b>&nbsp;0</b>&nbsp;&nbsp;&nbsp; vypne manuální režim<br />
    <b>1,5</b> &nbsp;&nbsp; zapne manuální režim na 90 minut<br />
    &nbsp;<br />

    <input name="address" type="hidden" value="{{chann.id}}">

    <input type="submit" value="Spustit!">
</form>
{% endif %}
{% endblock %}

