{% extends "base.html" %}


{% block content %}

<h2 style="padding-top: 15px;">Přehled výstupních kanálů</h2>
<table class="act" align="center" width="700px" style="text-align: center;">
    <tr>
        <th width="5%">ID</th>
        <th width="9%">Addr</th>
        <th width="34%" style="text-align: left;">Jméno</th>
        <th width="12%">Typ</th>
        <th width="12%">Sensor</th>
        

        {% if prusa %}
        <th width="24%">Treshold</th>
        {% else %}
        <th width="12%">Stav</th>
        <th width="12%">ByPass</th>
        {% endif %}
    </tr>
    {% if prusa %}
    
    <!--Průša3D-->
    {% for channel in chann %}
    {% if channel.used == True %}
    <!-- Vrchní skříň -->
    {% if channel.sens == 0 and channel.type == "heat" %}
    {% if (tt - hyst) > t[0] %}
    <tr id="ch{{channel.id}}" onclick="parent.location.href='/bypass/{{channel.id}}'" style="color: #0000bb; font-weight: bold;">
    {% elif (tt + hyst) < t[0] %}
    <tr id="ch{{channel.id}}" onclick="parent.location.href='/bypass/{{channel.id}}'" style="color: #d00000; font-weight: bold;">
    {% else %}
    <tr id="ch{{channel.id}}" onclick="parent.location.href='/bypass/{{channel.id}}'" style="color: #008000; font-weight: bold;">
    {% endif %}{# tt #}
    <!-- Spodní skříň -->
    {% elif channel.sens == 1 and channel.type == "heat" %}
    {% if (bt - hyst) > t[1] %}
    <tr id="ch{{channel.id}}" onclick="parent.location.href='/bypass/{{channel.id}}'" style="color: #0000bb; font-weight: bold;">
    {% elif (bt + hyst) < t[1] %}
    <tr id="ch{{channel.id}}" onclick="parent.location.href='/bypass/{{channel.id}}'" style="color: #d00000; font-weight: bold;">
    {% else %}
    <tr id="ch{{channel.id}}" onclick="parent.location.href='/bypass/{{channel.id}}'" style="color: #008000; font-weight: bold;">
    {% endif %}{# bt #}
    <!-- Ostatní senzory -->
    {% else %}
    <tr id="ch{{channel.id}}" onclick="parent.location.href='/bypass/{{channel.id}}'" style="color: #000000; font-weight: bold;">
    {% endif %}{# channel.sens #}
        <td>{{channel.id}}</td>
        <td>{{channel.addr}}</td>
        <td style="text-align: left;">{{channel.name}}</td>
        <td>{{channel.viewType()}}</td>
        {% if channel.type == "heat"%}
        <td>{{channel.viewTemp(t)}}</td>
        {% elif channel.type == "fountain" or channel.type == "fogger"%}
        <td>{{channel.viewHumi(h)}}</td>
        {% else %}
        <td></td>
        {% endif %}
        {% if channel.sens == 0 and channel.type == "heat" %}
        <td>{{ tt }} ± {{ hyst }}°C</td>
        {% endif %}
        {% if channel.sens == 1 and channel.type == "heat" %}
        <td>{{ bt }} ± {{ hyst }}°C</td>
        {% endif %}
        {% if channel.type == "fountain" or channel.type == "fogger" %}
        <td> </td>
        {% endif %}
    </tr>

    {% endif %}{# channel.used #}
    {% endfor %}


    {% else %}
    <!--NORMAL-->
    {% for channel in chann %}
    {% if channel.used == True %}
    {% if channel.state == True %}
    <tr id="ch{{channel.id}}" onclick="parent.location.href='/bypass/{{channel.id}}'" style="color: #d00000; font-weight: bold;">
    {% else %}
    <tr id="ch{{channel.id}}" onclick="parent.location.href='/bypass/{{channel.id}}'">
    {% endif %}
        <td>{{channel.id}}</td>
        <td>{{channel.addr}}</td>
        <td style="text-align: left;">{{channel.name}}</td>
        <td>{{channel.viewType()}}</td>
        {% if channel.type == "heat"%}
        <td>{{channel.viewTemp(t)}}</td>
        {% elif channel.type == "fountain" or channel.type == "fogger"%}
        <td>{{channel.viewHumi(h)}}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td>{{channel.viewState()}}</td>
        <td>{{channel.viewBypass()}}</td>
    </tr>

    {% endif %}
    {% endfor %}
    {% endif %}
</table>

    <!-- NASTAVENÍ PARAMETRŮ SYSTÉMU  -->
    <h3><a href="{{ url_for('view_nast') }}">Nastavení systémových parametrů - <i>Channels</i></a></h3>
    <p>
    - nastavení typu, vlastností a pojmenování výstupních kanálů<br>
    </p>

    <!-- NASTAVENÍ OVLÁDÁNÍ SYSTÉMU  -->
    <h3><a href="{{ url_for('view_int') }}">Nastavení ovládání výstupních kanálů - <i>Programms</i></a></h3>
    <p>
    - nastavení programů výstupních kanálů<br>
    </p>

    <!-- NASTAVENÍ ALARMU NA EMAIL -->
    <h3><a href="{{ url_for('alert') }}">Nastavení alarmu odesílaný na email</a></h3>
    <p>
    - nastavení cílového emailu a parametrů alarmu<br>
    </p>    

    <!-- REBOOT RPi  -->
    <h3><a href="{{ url_for('rpi') }}">Nastavení RPi</a></h3>
    <p>
    - reboot Raspberry Zero W<br>
    - režim Průša 3D Printer Box ({% if prusa %}ON{% else %}OFF{% endif %})<br>
    </p>

    <!-- UPGRADE RPi  -->
    <h3><a href="{{ url_for('upg') }}">Upgrade RPi</a></h3>
    <p>
    - upgrade softwaru pro Terrarium<br>
    - verze sw: {{v}}<br>
    </p>
{% endblock %}