{% extends "base2.html" %}

{% block content %}

<!-- INTERVALY -->

<!-- id         ID editovaného intervalu           -->
<!-- interval   instance třídy Interval            -->
<!-- mistn      slovník místností addr:pojmenování -->

<h3>Nastavení intervalu ID: {{ id }}</h3>
&nbsp;<br>
<form method="POST" action="{{ url_for('view_int') }}">
    <input type="hidden" name="ID" value="{{ id }}">
    
    <fieldset style="width: 35%; float: left; ">
    <legend>Výstupní kanály - Channels:</legend>
    {% for i in channels %}
    <input type="checkbox" name="channs" value="{{ i.id }}" {% if (i.id) in interval.ch_outs %}checked{% endif %}> {{i.name}}<br />
    {% endfor %}
    </fieldset>
    
    
    <fieldset style="width: 20%; float: left; ">
    <legend>Výběr dní:</legend>
    <input type="checkbox" name="days" value="1" {% if 1 in interval.days %}checked{% endif %}> pondělí<br />
    <input type="checkbox" name="days" value="2" {% if 2 in interval.days %}checked{% endif %}> úterý<br />
    <input type="checkbox" name="days" value="3" {% if 3 in interval.days %}checked{% endif %}> středa<br />
    <input type="checkbox" name="days" value="4" {% if 4 in interval.days %}checked{% endif %}> čtvrtek<br />
    <input type="checkbox" name="days" value="5" {% if 5 in interval.days %}checked{% endif %}> pátek<br />
    <input type="checkbox" name="days" value="6" {% if 6 in interval.days %}checked{% endif %}> sobota<br />
    <input type="checkbox" name="days" value="7" {% if 7 in interval.days %}checked{% endif %}> neděle<br />
    <input type="checkbox" name="days" value="8" {% if 8 in interval.days %}checked{% endif %}> svátky<br />
    </fieldset>
    

    <fieldset style="width: 30%;">
    <legend>Časový interval:</legend>    
    od: <input name="od" type="text" value="{{ interval.Edit(v="od") }}" size="3"> hod.<br />
    &nbsp;<br />
    do: <input name="do" type="text" value="{{ interval.Edit(v="do") }}" size="3"> hod.<br />
    </fieldset>

    &nbsp;

    <fieldset style="width: 30%;">
    <legend>Požadovaná teplota:</legend>    
    <input name="temp" type="text" value="{{ interval.Edit(v="temp") }}" size="3"> °C
    </fieldset>

    <fieldset style="width: 30%;">
    <legend>Požadovaná vlhkost:</legend>    
    <input name="humi" type="text" value="{{ interval.Edit(v="humi") }}" size="3"> %
    </fieldset>

    <fieldset style="width: 30%;">
    <legend>Osvětlení:</legend>    
        <select name="light">
            <option value="on"  {% if interval.light == True %}selected{% endif %}>ON</option>
            <option value="off" {% if interval.light == False %}selected{% endif %}>OFF</option>
            <option value="None" {% if interval.light != True and interval.light != False %}selected{% endif %}>None</option>
        </select>    
    </fieldset>

    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
    <input type="submit" value="OK" style="float:left;">&nbsp;
    <button type="button" onclick="history.go(-1)">Cancel</button>


</form>

{% endblock %}

