{% extends "base2.html" %}

{% block content %}

<!-- NASTAVENÍ PARAMETRŮ SYSTÉMU -->
<h2 style="padding-top: 15px;">Nastavení parametrů výstupního kanálu </h2>
<p>
<b>Jméno:</b> {{chann.name}}<br>
<b>Channel ID:</b> {{chann.id}}<br>
<b>GPIO:</b>  {{chann.addr}}
</p>

<form method="POST" action="{{ url_for('view_nast') }}">

<input type="hidden" name="id" value="{{chann.id}}">

<table class="sett" align="left" width="95%" style="text-align: center; padding: 50px;">
    <tr>
        <th width="50%" style="text-align: left;">Parametr</th>
        <th style="text-align: left;">hodnota</th>
    </tr>
    <tr>
        <td style="text-align: left;">
            Pojmenování výstupního kanálu:
        </td> 
        <td style="text-align: left;">
            <input type="text" value="{{chann.name}}" size="30" name="pojmenovani">
        </td> 
    </tr>
    <tr>
        <td style="text-align: left;">
            Typ výstupního kanálu:
        </td> 
        <td style="text-align: left;">
            <select name="type">
                <option value="heat" {% if chann.type == 'heat' %}selected{% endif %}>Topení</option>
                <option value="fountain" {% if chann.type == 'fountain' %}selected{% endif %}>Fontánka</option>
                <option value="fogger" {% if chann.type == 'fogger' %}selected{% endif %}>Rozprašovač</option>
                <option value="light" {% if chann.type == 'light' %}selected{% endif %}>Osvětlení</option>
            </select>
        </td> 
    </tr>
    <tr>
        <td style="text-align: left;">
            Zapnutí výstupního kanálu:
        </td> 
        <td style="text-align: left;">
            <select name="used">
                <option value="on"  {% if chann.used == True %}selected{% endif %}>ON</option>
                <option value="off" {% if chann.used == False %}selected{% endif %}>OFF</option>
            </select>            
        </td> 
    </tr>
    <tr>
        <td style="text-align: left;">
            Adresa senzoru AM2302:
        </td> 
        <td style="text-align: left;">
            <select name="sens">
                <option value="1" {% if chann.sens == 0 %}selected{% endif %}>1</option>
                <option value="2" {% if chann.sens == 1 %}selected{% endif %}>2</option>
                <option value="None" {% if chann.sens != 0 and chann.sens != 1 %}selected{% endif %}>None</option>
            </select>            
        </td> 
    </tr>
    <tr>
        <td style="text-align: left;">
            Délka pulsu rozprašovače (v sec):
        </td> 
        <td style="text-align: left;">
            <input type="text" value="{{chann.pulse}}" size="5" name="pulse">
        </td> 
    </tr>  
    <tr>
        <td style="text-align: left;">
            Mezera mezi pulsy rozprašovače (v min):
        </td> 
        <td style="text-align: left;">
            <input type="text" value="{{chann.delay}}" size="5" name="delay">
        </td> 
    </tr>  
</table>


<input type="submit" value="Odeslat / Uložit">


</form>

{% endblock %}

