{% extends "base2.html" %}

{% block content %}

<!-- Spuštění Reboot -->
<h2 style="padding-top: 15px;">Reboot Raspberry Zero W</h2>

<form method="POST">
    <input type="hidden" name="RPi" value="True">
    <input type="submit" name="reboot" value="Reboot RPi!!!">
</form>

<!-- Režim Průša 3D Printer Box-->
<h2 style="padding-top: 15px;">Režim Průša 3D Printers Box</h2>

<form method="POST">
    

    <fieldset>
    <legend>Teplota pro horní skříň (Sens-01):</legend>    
    <input name="TopBox" type="text" value="{{ tt }}" size="3"> °C<br />

    <legend>Teplota pro spodní skříň (Sens-02):</legend>    
    <input name="BottBox" type="text" value="{{ bt }}" size="3"> °C<br />

    <legend>Hystereze:</legend>    
    ± <input name="Hystereze" type="text" value="{{ hyst }}" size="3"> °C<br />
    
    </fieldset>
    &nbsp;<br>
    {% if prusa %}
    <input type="hidden" name="Prusa3D" value="False">
    <input type="submit" value="VYPNOUT">
    {% else %}
    <input type="hidden" name="Prusa3D" value="True">
    <input type="submit" value="ZAPNOUT">    
    {% endif %}

</form>

{% endblock %}

