{% extends "base2.html" %}

{% block content %}

<!-- NASTAVENÍ PARAMETRŮ SYSTÉMU VYTÁPĚNÍ -->
<h2 style="padding-top: 15px;">Nastavení parametrů systému</h2>

<table class="sett" align="center" width="700px" style="text-align: center;">
    <tr>
        <th width="4%" style="text-align: left;">ID</th>
        <th width="30%" style="text-align: left;">Výstupní kanály - Channels</th>
        <th width="10%">Od</th>
        <th width="10%">Do</th>
        <th width="17%">Kdy</th>
        <th width="15%">Teplota</th>
        <th width="5%">Vlhkost</th>
        <th width="5%">Světlo</th>
        <th width="4%">X</th>
    </tr>
    {% for i in interval %}
    <tr onclick="parent.location.href='/interval/{{ i.id }}'">
        <td style="text-align: left;">
            {{ i.id }}
        </td>
        <td style="text-align: left;">
            {{ i.View(v='chann',ch=channels) | safe }}
        </td>        
        <td>
            {{ i.View(v='od') }}
        </td>                 
        <td>
            {{ i.View(v='do') }}
        </td> 
        <td>
            {{ i.View(v='days') | safe }}
        </td>
        <td>
            {{ i.View('temp') }}
        </td>
        <td>
            {{ i.View('humi') }}
        </td>        
        <td>
            {{ i.View('light') }}
        </td>         
        <td>
            <a href="/delint/{{ i.id }}"><img src="{{ url_for('static', filename='delete.png') }}" /></a>                   
        </td>
    </tr>
    {% endfor %}
    <tr onclick="parent.location.href='/interval/1000'">
        <td style="text-align: left;">
        </td>
        <td style="text-align: left;">
        <i>Přidat program...</i>
        </td>        
        <td>
        </td>                 
        <td>
        </td> 
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        <img src="{{ url_for('static', filename='add.png') }}" />
        </td>                   
    </tr>
</table>

{% if fl_save==1 %}
<form method="POST">
    <input type="hidden" name="save" value="True">
    <input type="submit" value="Uložit změny">
</form>
{% endif %}

{% if fl_save==2 %}
<h3 style="color: red;">Změny uloženy!</h3>
{% endif %}

{% endblock %}

