{% extends "base2.html" %}

{% block content %}

<!-- NASTAVENÍ PARAMETRŮ JEDNOTLIVÝCH VÝSTUPNÍCH KANÁLŮ -->
<h2 style="padding-top: 15px;">Nastavení parametrů systému</h2>

<table class="act" align="center" width="700px" style="text-align: center;">
    <tr>
        <th width="5%">ID</th>
        <th width="9%">GPIO</th>
        <th width="35%" style="text-align: left;">Jméno</th>
        <th width="17%" style="text-align: left;">Typ</th>
        <th width="17%">Sensor</th>
        <th width="9%">On/Off</th>
        <th width="4%">Pulse (s)</th>
        <th width="4%">Delay (min)</th>
    </tr>

    {% for channel in chann %}
       <tr id="sett{{channel.id}}" onclick="parent.location.href='/chann/{{channel.id}}'">
        <td>{{channel.id}}</td>
        <td>{{channel.addr}}</td>
        <td style="text-align: left;">{{channel.name}}</td>
        <td style="text-align: left;">{{channel.viewType()}}</td>
        <td>{{channel.viewSens()}}</td>
        <td>{{channel.viewUsed()}}</td>
        <td>{{channel.pulse}}</td>
        <td>{{channel.delay}}</td>
    </tr>
    {% endfor %}
</table>

<!-- NASTAVENÍ EMAILU -->
<h2 style="padding-top: 15px;">Alarm do e-mailu</h2>



{% endblock %}

